## Pyper Legge - cleaned up data

In [11]:
import pandas as pd
hottestday = pd.read_csv ('../../data/raw/Hottest_Day.csv')
hotday_proj = hottestday[56:151]
hotday_hist = hottestday[0:55]
i=1950
for x in range(151):
    hottestday["DateTime"][x]=i
    i=i+1


hotday_proj_clean=hotday_proj.dropna(axis='columns',how='all')
hotday_proj_clean.pop('RCP 2.6 Range (low)')
hotday_proj_clean.pop('RCP 2.6 Range (high)')
hotday_proj_clean.pop('RCP 4.5 Range (low)')
hotday_proj_clean.pop('RCP 4.5 Range (high)')
hotday_proj_clean.pop('RCP 8.5 Range (low)')
hotday_proj_clean.pop('RCP 8.5 Range (high)')
hotday_hist_clean=hotday_hist.dropna(axis='columns',how='all')
hotday_hist_clean.pop('Historical Range (low)')
hotday_hist_clean.pop('Historical Range (high)')
hotday_hist_clean

<ipython-input-11-1bf11b4e8868>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hottestday["DateTime"][x]=i

   DateTime  Modeled Historical
0      1950               34.50
1      1951               34.77
2      1952               34.72
3      1953               34.22
4      1954               34.32
5      1955               34.71
6      1956               34.91
7      1957               35.14
8      1958               34.67
9      1959               34.19
10     1960               33.98
11     1961               33.96
12     1962               33.78
13     1963               34.63
14     1964               33.93
15     1965               34.42
16     1966               34.55
17     1967               33.59
18     1968               34.65
19     1969               34.20
20     1970               34.25
21     1971               34.29
22     1972               34.04
23     1973               34.38
24     1974               33.89
25     1975               34.74
26     1976               34.82
27     1977               36.31
28     1978               35.15
29     1979               34.62
30     1980               35.06
31     1981               35.54
32     1982               34.75
33     1983               34.20
34     1984               34.36
35     1985               35.05
36     1986               35.05
37     1987               34.64
38     1988               34.63
39     1989               35.51
40     1990               34.55
41     1991               34.94
42     1992               34.31
43     1993               34.66
44     1994               34.54
45     1995               36.04
46     1996               35.31
47     1997               34.96
48     1998               36.53
49     1999               34.92
50     2000               35.42
51     2001               35.61
52     2002               36.09
53     2003               35.31
54     2004               35.35

In [10]:
hotday_proj_clean

    DateTime  RCP 2.6 Median  RCP 4.5 Median  RCP 8.5 Median
56      2006           35.33           35.36           36.10
57      2007           35.53           36.80           36.68
58      2008           35.28           36.30           35.84
59      2009           36.20           36.03           35.71
60      2010           36.02           36.02           36.07
..       ...             ...             ...             ...
146     2096           37.00           39.48           43.03
147     2097           36.65           39.02           43.49
148     2098           36.33           39.60           43.41
149     2099           36.54           38.60           43.76
150     2100           36.69           39.59           44.22

[95 rows x 4 columns]