# Pyper Legge

## Research question/interestsI will be looking in to how the severity of the hottest day will change in the different carbon emission scenarios.e.

In [1]:
import pandas as pd

In [2]:
hottestday = pd.read_csv ('../data/raw/Hottest_Day.csv')

In [3]:
hottestday

,DateTime,Modeled Historical,Historical Range (low),Historical Range (high),RCP 2.6 Median,RCP 2.6 Range (low),RCP 2.6 Range (high),RCP 4.5 Median,RCP 4.5 Range (low),RCP 4.5 Range (high),RCP 8.5 Median,RCP 8.5 Range (low),RCP 8.5 Range (high)
0,1950-01-01,34.50,33.29,39.33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1951-01-01,34.77,33.43,36.47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1952-01-01,34.72,33.35,36.84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1953-01-01,34.22,32.81,36.06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1954-01-01,34.32,33.08,36.57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
146,2096-01-01,NaN,NaN,NaN,37.00,35.32,41.18,39.48,37.64,41.82,43.03,39.12,45.46
147,2097-01-01,NaN,NaN,NaN,36.65,34.47,39.09,39.02,36.16,41.43,43.49,40.91,47.26
148,2098-01-01,NaN,NaN,NaN,36.33,34.58,40.30,39.60,37.00,42.99,43.41,38.81,45.92
149,2099-01-01,NaN,NaN,NaN,36.54,35.36,40.10,38.60,36.08,41.76,43.76,39.93,46.68
150,2100-01-01,NaN,NaN,NaN,36.69,33.84,39.21,39.59,35.62,43.56,44.22,39.05,47.22

,DateTime,Modeled Historical,Historical Range (low),Historical Range (high),RCP 2.6 Median,RCP 2.6 Range (low),RCP 2.6 Range (high),RCP 4.5 Median,RCP 4.5 Range (low),RCP 4.5 Range (high),RCP 8.5 Median,RCP 8.5 Range (low),RCP 8.5 Range (high)
0,1950-01-01,34.50,33.29,39.33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1951-01-01,34.77,33.43,36.47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1952-01-01,34.72,33.35,36.84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1953-01-01,34.22,32.81,36.06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1954-01-01,34.32,33.08,36.57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
146,2096-01-01,NaN,NaN,NaN,37.00,35.32,41.18,39.48,37.64,41.82,43.03,39.12,45.46
147,2097-01-01,NaN,NaN,NaN,36.65,34.47,39.09,39.02,36.16,41.43,43.49,40.91,47.26
148,2098-01-01,NaN,NaN,NaN,36.33,34.58,40.30,39.60,37.00,42.99,43.41,38.81,45.92
149,2099-01-01,NaN,NaN,NaN,36.54,35.36,40.10,38.60,36.08,41.76,43.76,39.93,46.68
150,2100-01-01,NaN,NaN,NaN,36.69,33.84,39.21,39.59,35.62,43.56,44.22,39.05,47.22